<div class="c-title" data-editable="source" data-path="component-library/components/hero/hero.eleventy.liquid">
  {% for tag in tags %}
    {% bookshop "tag" bind: tag %}
  {% endfor %}
  <h1 class="c-title__title">
    {{ title }}
  </h1>
  {% if content %}
    {% bookshop "content" bind: content %}
  {% endif %}
</div>
