<div
  class="c-title"
  data-editable="source"
  data-path="component-library/components/hero/hero.eleventy.liquid"
  data-key="hero"
>
  {% for tag in tags %}{% bookshop "tag" bind: tag %}{% endfor %}<p></p>
  <p></p>
  <p></p>
  <h1 class="c-title__title">
    {{ title }}
  </h1>
  <p></p>
  <p></p>
  <p></p>{% if content %}{% bookshop "content" bind: content %}{% endif %}
</div>
